[submodule "utils/mini_ml_framework"]
	path = utils/mini_ml_framework
	url = https://github.com/ageapps/mini_ml_framework
[submodule "utils/python_sockets"]
	path = utils/python_sockets
	url = https://github.com/ageapps/python_sockets
